/* Reset general */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000; /* para que no se note el fondo blanco */
  overflow-x: hidden; /* evita scroll horizontal */
}

/* Quita posibles espacios entre componentes Angular */
app-root, app-header, app-footer {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Si usas un main en app.component.html */
main {
  min-height: 80vh;
  display: block;
  background-color: #fff; /* puedes cambiarlo según tu diseño */
}